body {
    margin: 0px;
    padding: 0px;
    /* background-image: url(assets/images/imgExercice.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     */
}
/* NavBar */

.btnWL {
    border-color: #E64A19;
    color: #E64A19;
}

    .btnWL:hover {
        color: #fff;
        background-color: #E64A19;
        text-decoration: none;
    }

.navbar-dark .navbar-toggler {
    color: rgb(246 0 0 / 50%);
    border-color: #E64A19;
}

.bg-ColorWL {
    background-color: #161616 !important;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #E64A19;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #E64A19;
    }

/* PrimerTexto */
.containerText1 {
    background-image: url(../../Public/images/imgExercice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    /*background-attachment: fixed;*/
    height: 400px;
}

@media screen and (min-width: 900px) {
    .containerText1 {
        height: 500px;
    }
}

.cont-tit-msg-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}

.cont-tit-msg-index-ch {
    width: 100%;
    margin-top: 300px;
}

.title-page-name {
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 4em;
}

.title-page-msg {
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
}


/* SegundoTexto */

.text2 {
    color: #fff;
    text-align: center;
    font-weight: 100;
    width: 45%;
}

@media (max-width: 850px) {
    .text2 {
        width: 75%;
    }
}

@media (max-width: 780px) {
    .cont-tit-msg-index-ch {
        margin-top: 220px;
    }
}

.bloqueNegro {
    background-color: #161616;
    width: 100%;
    height: 350px;
}


/* Thumbnail  */

.cont-imgs-thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: -150px;
}

.cont-img-thumbnail {
    width: 350px;
    height: 300px;
    margin: 1.1em 1.2em;
    z-index: 2;
}

.ThumbnailImg {
    width: 350px;
    height: 300px;
    /*width: 40%;*/
}

/* Footer */
.footer {
    background-color: #E64A19;
    width: 100%;
    height: 250px;
}

/* Login */
.containerLogin {
    width: 400px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    animation: animatezoom .25s linear;
}

@media screen and (max-width: 650px) {
    .containerLogin {
        width: 95% !important;
    }
    .containerText1 {
        background-position-x: right;
    }
}

.btn-info {
    background-color: #E64A19;
    border-color: #E64A19;
}

    .btn-info:hover {
        background-color: #cf3000;
        border-color: #E64A19;
    }

.imp {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #E64A19;
}


/* Machines */
.containerMachines {
    background-image: url(assets/images/machines.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgMachines .hoverQR {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.imgMachines:hover .hoverQR {
    display: block;
}

.card-img, .card-img-bottom, .card-img-top {
    margin: auto;
}


.imgQR {
    width: 100px;
    height: 100px;
}


/* Users */
.linkUsers {
    color: #E64A19;
}

    .linkUsers:hover {
        color: #E64A19;
    }

/* Asistencia */
.bg-info {
    background-color: #E64A19 !important;
    color: #fff;
}


/* Index QR asistance*/
.cont-qr-asistance {
    background-color: #161616;
    width: 100%;
    height: 480px;
    min-height 480px;
}

.qr-asistance-title {
    color: #e64a19;
    font-weight: 100;
    font-size: 2.2em;
}

.cont-img-qr-asistance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-asistance {
    width: 330px;
}

@media (max-width: 450px) {
    .qr-asistance {
        width: 95%;
    }
}



/*animation*/
@keyframes animatezoom {
    0% {
        transform: scale(0.6)
    }

    50% {
        transform: scale(1.04)
    }
    100% {
        transform: scale(1)
    }
}

