<!-- Login -->
<div class="container containerLogin" id="login">
    <form>
        <div class="form-group">
            <input type="email" class="form-control imp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico">
        </div>
        <div class="form-group">
            <input type="password" class="form-control imp" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-info">Iniciar Sesión</button>
    </form>
</div>


<div class="container containerText1">
    <div class="d-flex justify-content-center">
        <h1 class="text1">Ofrecemos una gran cantidad de actividades</h1>
    </div>
</div>

<div class="containerText2">
    <div class="container">
        <div class="d-flex justify-content-center">
            <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nisi totam nam eaque repellendus officia enim praesentium rem, error dolorem facilis? Quasi iste assumenda eaque porro soluta exercitationem tenetur non.</p>
        </div>
    </div>

    <div class="bloqueNegro">

    </div>
</div>


<div class="container containerThumbnail">

    <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-md-4 col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample1.jpg" alt="">
                <figcaption class="figure-caption">Lorem ipsum</figcaption>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample2.jpg" alt="">
                <figcaption class="figure-caption">Lorem ipsum</figcaption>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample3.jpg" alt="">
                <figcaption class="figure-caption">Lorem ipsum</figcaption>
            </a>
        </div>

    </div>

</div>




<div class="footer">
    <div class="d-flex justify-content-end">
        <div class="text3">
            <h4 class="">Lorem ipsum dolor sit amet consectetur</h4>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nisi totam nam eaque repellendus officia enim praesentium rem</p>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("login").style.display = "block";
    }
</script>