
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="cont-msg-user-home">
    <div class="h">
        <h4 class="title-page-msg" style="font-size: 2.3em;color:#e64a19;">Bienvenido a</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img src="~/Public/images/icon.png" width="60" height="60" alt="">
            <h5 class="ml-4 title-page-name" style="color:#3f3f3f;">Weight Less</h5>
        </div>
    </div>
</div>

