
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Más Información Asistencia</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
                <strong><label>Fecha:</label></strong>
                <label>01/01/2020</label>
            </div>
            <div class="form-group col-md-12">
                <strong><label>Calorias Quemadas:</label></strong>
                <label>XX.XX</label>
            </div>
            <div class="form-group col-md-12">
                <strong><label>Tiempo Total:</label></strong>
                <label>40 min</label>
            </div>
        </div>
    </form>

    <br>

    <table class="table table-sm">
        <thead>
            <tr class="bg-info">
                <th scope="col">Actividad</th>
                <th scope="col">Cal Quemadas</th>
                <th scope="col">Tiempo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Bicicleta</th>
                <td>XX.XX</td>
                <td>20 min</td>
            </tr>
            <tr>
                <th scope="row">Elíptica</th>
                <td>XX.XX</td>
                <td>10 min</td>
            </tr>
            <tr>
                <th scope="row">Caminadora</th>
                <td>XX.XX</td>
                <td>10 min</td>
            </tr>
        </tbody>
    </table>
</div>

