@using ReportViewerForMvc
@{
    ViewBag.Title = "ReportUserDataHistory";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Reporte de pesos</h2>

@if (ViewBag.ReportViewer != null) {
    <div class="mt-4 d-flex justify-content-center w-100">
        @Html.ReportViewer(
        ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
        new { scrolling = "yes" }
        )
    </div>
}

